
<div class="center">


<p *ngIf="name !=''&& name!= undefined && name != null"> Hello {{name}}</p>

<div>
    <h4>We are cordially invites you with Family </h4>
    <h4>to grace the occasion of </h4>
    <h1>HOUSE WARMING</h1>
    <h4>Cermony of our New Home</h4>
    <h4>ON</h4>
    <h3>Friday 17 March 2023 at 2.30 a.m.</h3>
    <h3>Sri sathyanarayana Swamy Vratham at 9.00 a.m.</h3>
    <h2>ADDRESS</h2>
    <h4>BangaruPeta, Nellore Road, near BangaruPeta Hospital,</h4>
    <h4>Venkatagiri, Tirupati District</h4>
</div>
</div>